header {
    background: #BBBBBB;
    padding: 20px;
}

.caixa {
    width: 940px;
    position: relative;
    margin: auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #f8098c;
    text-decoration: underline;
}

.produtos li { 
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #f8098c;
}

.produtos li:active {
    border-color: #0cdfaa;
}

.produtos li:hover h2 {
    font-size: 35px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer{
    background: url(img/bg.jpg);
    text-align: center;
    padding: 40px;
}

.copyright {
    font-size: 25;
    color: #FFFFFF;
}

main {
    width: 940px;
    margin: auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px; 
    margin: 0 0 10px;       
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10 25px;
    width: 60%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    background: #ff68bb;
    padding: 15px 0;
    width: 45%;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #f8098c;
    transform: scale(1.1);
}

table {
    margin: 40px 0 40px;
}

thead {
    font-weight: bold;
    color: white;
    font-size: 20px;
    background: #ff68bb;
}

td, th {
    font-size: 20px;
    border: 3px solid #000000;
    padding: 10px 20px;
}

